body {
	background-color: black;
}

hr {
	color: #f1f1f1;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.image-container {
	position: relative;
	max-width: 500px;
	margin: auto;
}

/* Make the image to responsive */
.overlay-image-responsive {
	display: block;
	width: 100%;
	height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
/* //* Step 1 */
.overlay-top-step-one {
	position: absolute;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 90px;
}

.overlay-right-step-one {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 90px;
}

.overlay-bottom-step-one {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 90px;
}

.overlay-left-step-one {
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 90px;
}

/* //* Step 2 */
.overlay-top-step-two {
	position: absolute;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 80px;
}

.overlay-right-step-two {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 80px;
}

.overlay-bottom-step-two {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 80px;
}

.overlay-left-step-two {
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 80px;
}

/* //* Step 3 */
.overlay-top-step-three {
	position: absolute;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 70px;
}

.overlay-right-step-three {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 70px;
}

.overlay-bottom-step-three {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 70px;
}

.overlay-left-step-three {
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 70px;
}

/* //* Step 4 */
.overlay-top-step-four {
	position: absolute;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 60px;
}

.overlay-right-step-four {
	position: absolute;
	right: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 60px;
}

.overlay-bottom-step-four {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	opacity: 100;
	padding: 60px;
}

.overlay-left-step-four {
	position: absolute;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgb(0, 0, 0); /* Black see-through */
	color: #f1f1f1;
	height: 100%;
	opacity: 100;
	padding: 60px;
}
